.full{
    width:1000px;
    margin:0 auto;
    overflow: hidden;
}
h3{
    color:darkred;
}
.faculty,.pd,.ra,.ms,gr {
    min-height: 200px;
    margin:30px 0 0 0;

}
.faculty .pic{

}
.faculty .description{

    padding:0 0 0 40px;
}
.faculty img{
    width:180px;
    height:192px;
    margin:auto;
}
.pd .post,.ra .post,.ms .post{
    width:500px;
}
.pd .post img,.ra .post img,.ms .post img{
    width:100px;
    height:110px;
}
.pd .post .pic,.ra .post .pic,.ms .post .pic{
    width:100px;
}
